.mainDiv{
    display: flex;
    width:100vw;
    position:absolute;
    left:0;
    top:0;
    overflow-x: hidden;
}
.splitScreen{
    display: flex;
    flex-direction: row;
    margin-top:600px;
}
.description{
    margin-left:20px;
    width:70vw;
    text-align: left;
    position:absolute;
    right:0;
    margin-top: 20px;
}
.sideNavBar{
    padding-left: 10px;
    margin-top:20px;
    text-wrap:wrap;
    text-align: left;
    width: 180px;
}
.divider{
    width:23vw;
    border: 1px rgb(191, 181, 181) solid ;
    height:1px;
}
.videoContainer{
    width:0.1px;
    margin-top:20px;
}
.videoDescription{
    font-size: 30px;
    font-weight: bold;
    width:100vw;
    margin-bottom:10px;
}
#videoTwo{
    margin-bottom:20px;
}
.video{
    padding-top: 10%;
    position: relative;
}
.video > div {
    position:absolute;
}
.navElement p a {
    color:blue
}

@media screen and (max-width: 900px) {
    .splitScreen{
        flex-direction:column;
        align-content: space-evenly;
    }
    .splitScreenRightSide{
        margin-left:0;
        padding: 0;
    }
    .description{
        padding-left: 10px;
        left:0;
    }
    .sideNavBar{
        display:flex;
        flex-direction: column;
        text-align: left;
        margin-left: 20px;
    }
    .divider{
        width:85vw;
        border: 1px rgb(191, 181, 181) solid ;
    }
  }
@media screen and (max-width: 600px) {
    .splitScreen{
        margin-top: 500px;
    }
}
@media screen and (max-width: 550px) {
    .splitScreen{
        margin-top: 480px;
    }
}
@media screen and (max-width: 500px) {
    .splitScreen{
        margin-top: 440px;
    }
}
@media screen and (max-width: 450px) {
    .splitScreen{
        margin-top: 400px;
    }
}