.contactPage{
    background-color: rgb(10, 10, 148);
    width:100%;
    position:absolute;
    left:0;
    top:0;
}
.splitScreens{
    display: flex;
    flex-direction: row;
    margin-top:600px;
    padding-top: 40px;
    padding-bottom: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contactDiv{
    background-color: white;
    padding-top: 5px;
    width: 23%;
    margin:5px;
    border-radius: 10px;
    height:170px;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 1;
}
.contactDescription{
    font-weight: bold;
}

.logos{
    height:50px;
    width:50px;
}
.mailjetContact{
    margin:20px;
    height:320px;
    width: 460px;
    background-color:rgb(119, 119, 229);
    border-radius: 5px;
    margin-top: -40px;
    padding-top: 30px;
    z-index: 0;
    text-align: center;
}
.mailjetContact h2 {
    margin-top: -5px;
    color: rgb(10, 10, 148);
}

.mailjetContact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mailjetContact form input {
    margin-bottom:20px;
    width:340px;
}
.mailjetContact form textarea {
    margin-bottom: 40px;
    width: 340px;
}


@media screen and (max-width: 600px) {
    .splitScreens{
        margin-top: 620px;
    }
    .contactDiv{
        width: 45%;
        margin:10px;
        border-radius: 10px;
    }
    .mailjetContact{
        margin-top: 40px;
    }
}
@media screen and (max-width: 550px) {
    .splitScreens{
        margin-top: 550px;
    }
}
@media screen and (max-width: 500px) {
    .splitScreens{
        margin-top: 500px;
    }
}
@media screen and (max-width: 450px) {
    .splitScreens{
        margin-top: 480px;
    }
}